{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block hero %}
  <div class="jumbotron">
  <div class="container">
      <h2>{% trans "WELCOME TO NEPAL GOVERNMENT'S GEONODE" %}</h2>
      <p>{% blocktrans %}Nepal, officially known as the Democratic Republic of Nepal, is a landlocked sovereign country located in South Asia. It has an area of 147,181 square kilometres and a population of approximately 2.78 crores (27.8 million). It is located in the Himalayas and bordered to the north by the People’s Republic of China, and to the south, east, and west by the Republic of India. Kathmandu is the capital and the most populous city of the country.{% endblocktrans %}</p><br>
      <p>{% blocktrans %}Based on GeoNode, this is a public platform for GIS Data related to Nepal.{% endblocktrans %}</p>
      <a class="btn btn-default btn-lg" target="_blank" href="http://docs.geonode.org/en/master/tutorials/users/index.html" role="button">{% blocktrans %}Get Started &raquo;{% endblocktrans %}</a>
  </div>
  </div>
{% endblock %}
