{% extends 'index.html' %}
{% load staticfiles %}
{% load i18n %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs.
{% endcomment %}
{% block extra_head %}
  {{ block.super }}
  <style>
        .home .jumbotron {
            background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)),url({% static "img/homepage.jpg" %}) no-repeat;
            background-size: cover;
            background-position: center;
            color: #fff;
            margin-bottom: 0;
            padding: 7.5em 0 3.75em;
            text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
        }
  </style>
{% endblock extra_head %}

{% block hero %}
<div class="jumbotron">
  <div class="container">
      <h1>{% trans "NEPAL<br> GEONODE" %}</h1>

      <h2>{% blocktrans %}A public platform for<br> GIS Data related to Nepal.{% endblocktrans %}</h2>
      <a class="btn btn-default btn-lg" target="_blank" href="http://docs.geonode.org/en/master/tutorials/users/index.html" role="button">{% blocktrans %}Get Started &raquo;{% endblocktrans %}</a>
      {# <span>{% trans 'Need help?' %} <a href="http://docs.geonode.org/en/latest/tutorials/users/quickstart/index.html">{% trans 'Getting Started' %}</a></span> #}
  </div>
</div>
{% endblock %}
